@import "~hover.css/scss/hacks";
@import "~hover.css/scss/mixins";
@import "~hover.css/scss/options";

@import "~hover.css/scss/effects/background-transitions/shutter-out-horizontal";
@import "~hover.css/scss/effects/background-transitions/sweep-to-bottom";
@import "~hover.css/scss/effects/background-transitions/sweep-to-top";

$activeColor: #3794d9;

*, *::before, *::after {
  font-family: 'Roboto', sans-serif;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, #___gatsby, [role="group"] {
  height: 100%;
}

#gatsby-focus-wrapper {
  overflow: hidden;
  height: 100%;
}

body {
  --bg: #343638;
  --bg-darker: #282A2C;
  --accent: #3FA9F5;
  --accent-dark: #37a0e6;
  --text: #ffffff;
  --text-alt: #000;
  --alt: #676767;
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  --shadow-large: 0 3px 32px rgba(0, 0, 0, 0.45);

  --shadow-on-bg: var(--shadow);

  --navbar-bg: var(--bg-darker);
  --content-bg: var(--bg-darker);
  --title: var(--text);
  --t-pill-text: #dcdcdc;
  --input-border: #3c3c3c;
  --input-border-dark: #3c3c3c;
  --footer-year: #B5B5B5;
  --browser-outer: #2A2C84;
  --browser-outer-dark: #1D1F5D;
  --browser-inner: var(--accent);
  --browser-inner-dark: #1A6D91;
  --logo-front: #242628;
  --logo-outer: #1A1B1C;
  --logo-text: #DBDBDB;
  --logo-lines: #515457;
  --scrollbar-bg: var(--bg-darker);
  --scrollbar-thumb: #595b5d;
  --scrollbar-thumb-hover: #76787a;
  --scrollbar-thumb-active: #979a9c;

  -webkit-font-smoothing: antialiased;
  background: var(--bg);
  color: var(--text);
  overflow: hidden;

  &.light {
    --bg: #F1F8FF;
    --bg-darker: #B2DFFF;
    --text: #000;
    --text-alt: #3FA9F5;
    --alt: #cbcbcb;
    --shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    --shadow-large: 0 3px 32px #{rgba(#3FA9F5, 0.50)};

    --shadow-on-bg: none;

    --navbar-bg: #B2DFFF;
    --content-bg: #fff;
    --t-pill-text: var(--text);
    --input-border: rgba(63, 169, 245, 0.15);
    --input-border-dark: rgba(63, 169, 245, 0.25);
    --footer-year: #575757;
    --browser-outer: var(--accent);
    --browser-outer-dark: var(--browser-outer);
    --browser-inner: #B2DFFF;
    --browser-inner-dark: #85C1EC;
    --logo-front: #B2DFFF;
    --logo-outer: #96D2FC;
    --logo-text: #343638;
    --logo-lines: #F5FBFF;
    --scrollbar-thumb: #3484c6;
    --scrollbar-thumb-hover: #2f6ca9;
    --scrollbar-thumb-active: #1e4f76;

    background: #E8F5FF;

    .scroller.on-white {
      &::-webkit-scrollbar-track {
        background-color: #fff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        border-color: #fff;

        &:hover {
          background-color: var(--scrollbar-thumb);
        }

        &:active {
          background-color: var(--scrollbar-thumb-hover);
        }
      }
    }
  }
}

html.landing {
  body {
    background: url('../images/background.svg') no-repeat var(--bg);
    background-size: 100% auto;

    &.light {
      background: url('../images/background_light.svg') no-repeat var(--bg);
      background-size: 100% auto;
    }
  }
}

.container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
}

.gatsby-resp-image-wrapper {
  background: var(--bg-darker) !important;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.scroller {
  overflow-y: auto !important;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
  scrollbar-width: thin;
  transition: all 300ms linear;

  &::-webkit-scrollbar {
    background-color: var(--bg);
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 16px;
    border: 5px solid var(--scrollbar-bg);

    &:hover {
      background-color: var(--scrollbar-thumb-hover);
      border: 4px solid var(--scrollbar-bg);
    }

    &:active {
      background-color: var(--scrollbar-thumb-active);
      border: 4px solid var(--scrollbar-bg);
    }
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}

.scroller-native {
  overflow-y: auto !important;
}

.hvr-out {
  @include shutter-out-horizontal();
}

.hvr-bottom {
  &:not(.active) {
    @include sweep-to-bottom();
    &:before {
      @include prefixed(transition-duration, .2s);
      background: var(--accent);
    }
  }
}

.hvr-top {
  &:not(.active) {
    @include sweep-to-top();
    &:before {
      @include prefixed(transition-duration, .2s);
      background: var(--accent);
    }
  }
}

.ReactModalPortal {
  .ReactModal__Overlay {
    opacity: 0;
    background: rgba(#000, .5) !important;
    z-index: 2000;
    transition: opacity .3s ease;

    .ReactModal__Content {
      transform: scale(0);
      padding: 0 !important;
      top: 100px !important;
      bottom: 60px !important;
      left: 0 !important;
      right: 0 !important;
      border: none !important;
      border-radius: 8px !important;
      background: transparent !important;
      overflow: visible !important;
      margin: 0 auto;
      max-width: 1200px;
      width: 90%;
      transition: transform .3s ease;
    }
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;

    .ReactModal__Content {
      transform: scale(1);
    }
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;

    .ReactModal__Content {
      transform: scale(0);
    }
  }
}

@media (min-width: 768px) {
  html.landing {
    body {
      background-position: 0 -250px;
      background-size: 100% auto;
    }
  }
}

@media (min-width: 992px) {
  html.landing {
    body {
      background: url('../images/background_desktop.svg') no-repeat var(--bg);
      background-size: auto 100%;

      &.light {
        background: url('../images/background_desktop_light.svg') no-repeat var(--bg);
        background-size: auto 100%;
      }
    }
  }
}
