#MainLayer {
  display: block;
  max-width: 80%;
  max-height: 400px;
  margin: 0 auto;
  padding: 10px 0;
}

#Logo3D {
  transform: translateY(10px);
  animation: browserAnim 2.5s ease-in-out infinite alternate;
}

.rl-1 {
  fill: #e6565a;
}
.rl-2 {
  fill: #e6cd43;
}
.rl-3 {
  fill: #00c917;
}
.rl-4 {
  fill: var(--browser-inner-dark);
}
.rl-5 {
  fill: var(--browser-outer);
}
.rl-6 {
  fill: var(--browser-outer-dark);
}
.rl-7, .rl-8, .cls-8, .cls-9, .cls-10, .cls-12 {
  fill: var(--logo-lines);
}
.rl-9 {
  fill: var(--logo-outer);
}

.cls-5{
  fill: var(--browser-inner);
}

.cls-11{
  fill: var(--logo-front);
}

.cls-14{
  fill: var(--logo-text);
}

@keyframes browserAnim {
  from {
    transform: translateX(60px) translateY(10px);
  }
  to {
    transform: translateX(20px) translateY(10px);
  }
}

@media (min-width: 768px) {
  #MainLayer {
    max-height: 550px;
  }
}
